body {
 margin: 50px 25px 25px 50px;
}

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #000000;
    margin: auto;
  }

  th {
    cursor: pointer;
  }

  th,
  td {
    text-align: left;
    padding: 16px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  .button {
    background-color: rgb(253, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #deleteButton {
    background-color: #f44336;
  }

  #editButton {
    background-color: #e7e7e7;
    color: black;
  }

  .rotate {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .normal {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .rotateForPrice {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .normalForPrice {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  